.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
bootstrap/cache/*.php
storage/app/private/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
resources/js/actions
resources/js/routes
resources/js/wayfinder
.phpunit.cache
tests
